@using MultiFactor.SelfService.Linux.Portal.Core
@model MultiFactor.SelfService.Linux.Portal.ViewModels.EnterIdentityForm;
@{
    var isCaptchaEnabled = Settings.CaptchaSettings.IsCaptchaEnabled(CaptchaPlace.PasswordRecovery);
    ViewBag.Title = @Localizer["Title"];
}
<div class="login change-pwd">
    <div class="form-column">
        @using (Html.BeginForm("Index", "PasswordRecovery", FormMethod.Post))
        {
            <fieldset>
                @Html.AntiForgeryToken()
                <p>@Localizer["EnterLogin"]</p>
                <div class="form-row">
                    <div class="input">
                        @Html.TextBoxFor(m => m.Identity, 
                            new { 
                                placeholder = Settings.RequiresUserPrincipalName 
                                ?  Localizer.GetString("UserNameUpn") 
                                :  Localizer.GetString("UserName"),
                                autocomplete = "off"
                            })
                        @Html.ValidationMessageFor(m => m.Identity)
                    </div>
                    @Html.ValidationSummary(true)
                    @{
                        ViewBag.RenderCaptchaScripts = true;
                    }
                    @await Component.InvokeAsync("Captcha", new { CaptchaPlace = CaptchaPlace.PasswordRecovery })
                </div>
                <div class="form-row">
                    <input type="hidden" name="myUrl" id="myUrl" />
                    <input disabled type="submit" class="btn" value="@Localizer["Submit"]" id="submit" />
                </div>
            </fieldset>
        }
    </div>
</div>
 
@section Scripts {
        <partial name="_ValidationScriptsPartial" />
        <script>
            $(document).ready(function(){
            $('#myUrl').val(document.location);

            $("form").submit(function () {
                    if ($(this).valid()) {
                        $(this).find(':submit').attr('disabled', 'disabled').val('@Localizer["PleaseWait"]');
                    }
                });
            });
        </script>

}