@model MultiFactor.SelfService.Linux.Portal.Integrations.MultiFactorApi.Dto.UserProfileDto

<div class="login">
    <div class="form-column @(@ShowcaseSettings.CurrentValue?.Enabled == true ? "showcase-no-top-padding" : "") ">
        <div class="auth-details">
            @if (@ShowcaseSettings.CurrentValue != null && @ShowcaseSettings.CurrentValue.Enabled)
            {
                <div class="showcase">
                    @foreach (var link in ShowcaseSettings.CurrentValue.Links)
                    {
                        <a href="@link.Url" @(link.OpenInNewTab ? "target=_blank" : "")>
                            <div class="showcase-link">
                                <img class="showcase-link-image" src="~/content/images/showcase/@link.Image" />

                                <div class="link-title">
                                    @link.Title
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
            <div class="success-mark"></div>
            <h2 class="success-title">@Localizer["Title"]</h2>
            <div class="auth-username">
                <p>@Localizer["Welcome"]</p>
                <p class="user-login">@(Model.Name ?? Model.Identity)</p>
            </div>
        </div>
        <ul class="action">
            <li>
                @Html.ActionLink(Localizer["Configure2FA"].Value, "Index", "Configure2Fa", new { }, new { target = "_blank", @class = "btn btn-secondary" })
            </li>
            @if (Model.EnablePasswordManagement)
            {
                <li><a href="~/password/change" class="btn btn-secondary">@Localizer["ChangePassword"]</a></li>
            }
            @if (Model.EnableExchangeActiveSyncDevicesManagement)
            {
                <li><a href="~/ExchangeActiveSyncDevices" class="btn btn-secondary">@Localizer["ManageActiveSyncDevices"]</a></li>
            }
            <li><a href="~/account/logout" class="btn btn-secondary">@Localizer["Exit"]</a></li>
        </ul>
    </div>
</div>
