@using MultiFactor.SelfService.Linux.Portal.Core
@{
    var isCaptchaEnabled = Settings.CaptchaSettings.IsCaptchaEnabled(CaptchaRequired.Always);
}

@model MultiFactor.SelfService.Linux.Portal.ViewModels.LoginViewModel

<div action="#" class="login">
    <div class="form-column">
        <h2>@Localizer["Title"]</h2>
        @using (Html.BeginForm("Login", "Account", new Dictionary<string, string>
        { 
            [Constants.MultiFactorClaims.SamlSessionId] = Context.Request.Query[Constants.MultiFactorClaims.SamlSessionId].FirstOrDefault() ?? string.Empty, 
            [Constants.MultiFactorClaims.OidcSessionId] = Context.Request.Query[Constants.MultiFactorClaims.OidcSessionId].FirstOrDefault() ?? string.Empty
         }, FormMethod.Post, true, new { @class = "login-form" }))  
        {
            <fieldset>
                @Html.AntiForgeryToken()
                <p>@Localizer["Invitation"]</p>
                <div class="form-row @(isCaptchaEnabled ? "mb-8" : "")">
                    <div class="input">
                        <span>@Localizer["UserName"]</span>
                        @Html.TextBoxFor(m => m.UserName, new { placeholder = Settings.ActiveDirectorySettings.RequiresUserPrincipalName
                            ? Localizer.GetString("UserNameUpn") 
                            : Localizer.GetString("UserName") })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="input">
                        <span>@Localizer["Password"]</span>
                        @Html.PasswordFor(m => m.Password, new { placeholder = Localizer.GetString("Password"), autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    @Html.ValidationSummary(true)
                    @if (isCaptchaEnabled) {
                        ViewBag.RenderCaptchaScripts = true;
                        <div class="captcha-wrapper">
                            @await Component.InvokeAsync("Captcha", new { CaptchaPlace = CaptchaRequired.Always })
                        </div>
                    }
                    @if (Settings.PasswordManagement.AllowPasswordRecovery)
                    {
                        <div class="bottom-field-link-r pb-4">
                            <a href="/ForgottenPassword/Change">@Localizer["ForgotPassword"]</a>
                        </div>
                    }
                </div>

                <div class="form-row">
                    <input type="hidden" name="myUrl" id="myUrl" />
                    <input @(isCaptchaEnabled ? "disabled" : "") type="submit" class="btn-primary w-100" value="@Localizer["Submit"]" id="submit" />
                </div>
            </fieldset>
        }
    </div>
</div>
 @section Scripts  {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function() {
            $('#myUrl').val(document.location);
            $("form").submit(function () {
                if ($(this).valid()) {
                    $(this).find(':submit').attr('disabled', 'disabled').val('@Localizer["PleaseWait"]');
                }
            });
        });
    </script>
 }