@model MultiFactor.SelfService.Linux.Portal.Models.LoginModel

<div action="#" class="login">
    <div class="form-bg">
        <img src="~/images/login.svg" width="352" height="396" alt="Multifactor">
    </div>
    <div class="form-column">
        <h2>@Localizer["Title"]</h2>
        @using (Html.BeginForm("Login", "Account", new { 
            ReturnUrl = "/"
        }, FormMethod.Post))
        {
            <fieldset>
                @Html.AntiForgeryToken()
                <p>@Localizer["Invitation"]</p>
                <div class="form-row">
                    <div class="input">
                        @Html.TextBoxFor(m => m.UserName, new { placeholder = Settings.RequiresUserPrincipalName 
                            ? Localizer.GetString("UserNameUpn") 
                            : Localizer.GetString("UserName") })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="input">
                        @Html.PasswordFor(m => m.Password, new { placeholder = Localizer.GetString("Password"), autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    @Html.ValidationSummary(true)
                </div>
                <div class="form-row">
                    <input type="hidden" name="myUrl" id="myUrl" />
                    <input type="submit" class="btn" value="@Localizer["Submit"]" id="submit" />
                </div>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function(){
            $('#myUrl').val(document.location);

            $("form").submit(function () {
                if ($(this).valid()) {
                    $(this).find(':submit').attr('disabled', 'disabled').val('@Localizer["PleaseWait"]');
                }
            });
        });
    </script>

}
