@model MultiFactor.SelfService.Linux.Portal.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="login">
    <div class="form-column">
        <h2>@Localizer["Title"]</h2>
        @using (Html.BeginForm("Change", "Password", new { ReturnUrl = "/" }, FormMethod.Post))
        {
        <fieldset>
            @Html.AntiForgeryToken()
            @await Html.PartialAsync("_PasswordRequirementsPartial")

            <br />
            <div>
                @Html.ValidationSummary(true)
            </div>
            <div class="form-row">
                <div class="input">
                    @Html.PasswordFor(m => m.Password, new { placeholder = Localizer.GetString("CurrentPassword"), autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="input">
                    @Html.PasswordFor(m => m.NewPassword, new { placeholder = Localizer.GetString("NewPassword"), autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="input">
                    @Html.PasswordFor(m => m.NewPasswordAgain, new { placeholder = Localizer.GetString("ConfirmPassword"), autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.NewPasswordAgain)
                </div>
            </div>
            <div class="form-row">
                <input type="submit" class="btn-primary w-100" value="@Localizer["Submit"]" />
            </div>
        </fieldset>
        }
    </div>
</div>